<h4>Formularios <small> reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input  class="form-control"
                type="text"
                placeholder="Nombre"
                formControlName="nombre"
                [class.is-invalid]="NombreNoValido">
        <small *ngIf="NombreNoValido" class="invalid-feedback">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input  class="form-control"
                type="text"
                placeholder="Apellido"
                formControlName="apellido"
                [class.is-invalid]="ApellidoNoValido">
        <small *ngIf="ApellidoNoValido" class="invalid-feedback">Ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input  class="form-control"
              type="email"
              placeholder="Correo electrónico"
              formControlName="correo"
              [class.is-invalid]="CorreoNoValido">
      <small *ngIf="CorreoNoValido" class="invalid-feedback">Ingrese email válido</small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado del formulario: {{ formulario.valid }}
  <br>
  Status: {{ formulario.status }}
</pre>

<pre>
  {{ formulario.value | json }}
</pre>

