<h4>Formularios <small> reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
          [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="invalid-feedback">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido"
          [class.is-invalid]="apellidoNoValido">
        <small *ngIf="apellidoNoValido" class="invalid-feedback">Ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo"
        [class.is-invalid]="correoNoValido">
      <small *ngIf="correoNoValido" class="invalid-feedback">Ingrese email válido</small>
    </div>
  </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col">

        <input  class="form-control"
                type="password"
                placeholder="Contraseña"
                formControlName="contrasena1"
                [class.is-invalid]="contrasena1NoValido">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label"> Repita Contraseña</label>
      <div class="col">

        <input  class="form-control"
                type="password"
                placeholder="Repita Contraseña"
                formControlName="contrasena2"
                [class.is-invalid]="contrasena2NoValido">
      </div>
    </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">

      <div class="col">
        <input  type="text"
                class="form-control"
                placeholder="Distrito"
                formControlName="distrito"
                [class.is-invalid]="distritoNoValido">
        <small *ngIf="distritoNoValido" class="invalid-feedback">Ingrese distrito válido</small>
      </div>

      <div class="col">
        <input  type="text"
                class="form-control"
                placeholder="Ciudad"
                formControlName="ciudad"
                [class.is-invalid]="ciudadNoValido">
        <small *ngIf="distritoNoValido" class="invalid-feedback">Ingrese ciudad válida</small>

      </div>
    </div>
  </div>

    <div class="row">
      <div class="col">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Pasatiempos</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody formArrayName="pasatiempos">
            <tr *ngFor="let control of pasatiempos.controls; let i = index">
              <td>{{ i + 1}}</td>
              <td>
                <input type="text" class="form-control" [formControlName]="i">
              </td>
              <td>
              <button type="button"
                      class="btn btn-danger"
                      (click)="borrarPasatiempo(i)">
                <i class="fa fa-trash"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-primary mt-3 mb-5 btn-block"
                type="button"
                (click)="agregarPasatiempo()">
                <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit"
              class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado del formulario: {{ formulario.valid }}
  <br>
  Status: {{ formulario.status }}
</pre>

<pre>
  {{ formulario.value | json }}
</pre>
